# 01. Fundamental Data Structures in Pandas

### a. Import the pandas library

In [19]:
import numpy as np
import pandas as pd

## 1. Series:
- One dimensional array consisting of different types of elements - multiple data types like `int`, `float`, `string` and `objcet` etc.
- It is like NumPy array with an index
- Auto ***index starts from zero***
- If you do not specify the index, it auto creates.

### 1.1. Create a Series from List

In [2]:
# Create a Series from List - observe the auto-generated index
num_list = range(100, 1001, 35)
my_series = pd.Series(num_list)
my_series

0     100
1     135
2     170
3     205
4     240
5     275
6     310
7     345
8     380
9     415
10    450
11    485
12    520
13    555
14    590
15    625
16    660
17    695
18    730
19    765
20    800
21    835
22    870
23    905
24    940
25    975
dtype: int64

In [3]:
type(my_series)

pandas.core.series.Series

In [4]:
my_series.shape

(26,)

In [5]:
my_series.ndim

1

In [6]:
my_series.size

26

### 1.2. Create a Series from NumPy Array - specify index

In [7]:
nums = (np.random.random(10)*100).astype(int)
index_arr = range(10)

series_2 = pd.Series(nums, index_arr)
series_2

0    72
1    80
2     0
3    52
4    59
5    63
6    14
7     8
8    24
9    62
dtype: int64

### 1.3. Create a Series from Dictionaries

In [8]:
phone_book = {'+91 9923456788': 'John', '+91 8976543212': 'Joe', '+91 98989898989': 'Johnny'}
series_3 = pd.Series(phone_book)
series_3

+91 9923456788       John
+91 8976543212        Joe
+91 98989898989    Johnny
dtype: object

## 2. DataFrame

In [15]:
# Auto index
d = [[1,'abc', 1.23], [2, 'def', 2.34], [3, 'ghi', 3.45]]
df = pd.DataFrame(data = d,
                 columns=['col_0', 'col_1', 'col_2'])

df

   col_0 col_1  col_2
0      1   abc   1.23
1      2   def   2.34
2      3   ghi   3.45

In [16]:
# Custom index names
d = [[1,'abc', 1.23], [2, 'def', 2.34], [3, 'ghi', 3.45]]
df = pd.DataFrame(data = d,
                  index = ['row_%d' %i for i in range(3)],
                  columns=['col_0', 'col_1', 'col_2'])

df

       col_0 col_1  col_2
row_0      1   abc   1.23
row_1      2   def   2.34
row_2      3   ghi   3.45

In [17]:
data = {'c1': [1,2,3,4,5,6,7], 'c2': [11,12,13,14,15,16,17]}
df = pd.DataFrame(data)
df

   c1  c2
0   1  11
1   2  12
2   3  13
3   4  14
4   5  15
5   6  16
6   7  17

In [18]:
data = {'c1': [1,2,3,4,5,6,7], 'c2': [11,12,13,14,15,16,17], 'c3': ['a','b','c','d','e','f','g']}
df = pd.DataFrame(data)
df

   c1  c2 c3
0   1  11  a
1   2  12  b
2   3  13  c
3   4  14  d
4   5  15  e
5   6  16  f
6   7  17  g