# 02. Basic data explorations on DataFrames

### Import the libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./data/Company.csv')
df

,EmployeeID,birthdate_key,age,city_name,department,job_title,gender
0,1318,1/3/1954,61,Vancouver,Executive,CEO,M
1,1319,1/3/1957,58,Vancouver,Executive,VP Stores,F
2,1320,1/2/1955,60,Vancouver,Executive,Legal Counsel,F
3,1321,1/2/1959,56,Vancouver,Executive,VP Human Resources,M
4,1322,1/9/1958,57,Vancouver,Executive,VP Finance,M
...,...,...,...,...,...,...,...
6279,8036,8/9/1992,23,New Westminister,Customer Service,Cashier,F
6280,8181,9/26/1993,22,Prince George,Customer Service,Cashier,M
6281,8223,2/11/1994,21,Trail,Customer Service,Cashier,M
6282,8226,2/16/1994,21,Victoria,Customer Service,Cashier,F
6283,8264,6/13/1994,21,Vancouver,Customer Service,Cashier,F

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6284 entries, 0 to 6283
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EmployeeID     6284 non-null   int64
 1   birthdate_key  6284 non-null   object
 2   age            6284 non-null   int64
 3   city_name      6284 non-null   object
 4   department     6284 non-null   object
 5   job_title      6284 non-null   object
 6   gender         6284 non-null   object
dtypes: int64(2), object(5)
memory usage: 343.8+ KB

In [4]:
df.describe()

        EmployeeID          age
count  6284.000000  6284.000000
mean   5088.843094    45.783418
std    1956.079548    15.076558
min    1318.000000    21.000000
25%    3482.750000    33.000000
50%    5180.500000    45.000000
75%    6765.250000    59.000000
max    8336.000000    74.000000

In [5]:
df.columns

Index(['EmployeeID', 'birthdate_key', 'age', 'city_name', 'department',
       'job_title', 'gender'],
      dtype='object')

_____________
## DataFrame index
- Get the index column - `df.index`
- Set the index column - `df.set_index`
- While reading the file - `pd.read_csv(filepath, index_col = column_number)`

In [6]:
df.index

RangeIndex(start=0, stop=6284, step=1)

In [7]:
df.set_index('EmployeeID', inplace=True)
df

,birthdate_key,age,city_name,department,job_title,gender
EmployeeID,,,,,,
1318,1/3/1954,61,Vancouver,Executive,CEO,M
1319,1/3/1957,58,Vancouver,Executive,VP Stores,F
1320,1/2/1955,60,Vancouver,Executive,Legal Counsel,F
1321,1/2/1959,56,Vancouver,Executive,VP Human Resources,M
1322,1/9/1958,57,Vancouver,Executive,VP Finance,M
...,...,...,...,...,...,...
8036,8/9/1992,23,New Westminister,Customer Service,Cashier,F
8181,9/26/1993,22,Prince George,Customer Service,Cashier,M
8223,2/11/1994,21,Trail,Customer Service,Cashier,M
8226,2/16/1994,21,Victoria,Customer Service,Cashier,F
8264,6/13/1994,21,Vancouver,Customer Service,Cashier,F

In [8]:
df.dtypes

birthdate_key    object
age               int64
city_name        object
department       object
job_title        object
gender           object
dtype: object

df.shape

In [10]:
df.head()

           birthdate_key  age  city_name department           job_title gender
EmployeeID
1318            1/3/1954   61  Vancouver  Executive                 CEO      M
1319            1/3/1957   58  Vancouver  Executive           VP Stores      F
1320            1/2/1955   60  Vancouver  Executive       Legal Counsel      F
1321            1/2/1959   56  Vancouver  Executive  VP Human Resources      M
1322            1/9/1958   57  Vancouver  Executive          VP Finance      M

In [11]:
df.head(7)

,birthdate_key,age,city_name,department,job_title,gender
EmployeeID,,,,,,
1318,1/3/1954,61,Vancouver,Executive,CEO,M
1319,1/3/1957,58,Vancouver,Executive,VP Stores,F
1320,1/2/1955,60,Vancouver,Executive,Legal Counsel,F
1321,1/2/1959,56,Vancouver,Executive,VP Human Resources,M
1322,1/9/1958,57,Vancouver,Executive,VP Finance,M
1323,1/9/1962,53,Vancouver,Executive,"Exec Assistant, VP Stores",M
1325,1/13/1964,51,Vancouver,Executive,"Exec Assistant, Legal Counsel",F

In [12]:
df.tail(3)

           birthdate_key  age  city_name        department job_title gender
EmployeeID
8223           2/11/1994   21      Trail  Customer Service   Cashier      M
8226           2/16/1994   21   Victoria  Customer Service   Cashier      F
8264           6/13/1994   21  Vancouver  Customer Service   Cashier      F

In [13]:
df.mean()

age    45.783418
dtype: float64

In [14]:
df['age'].min()

21

In [15]:
df['age'].median()

45.0

In [16]:
df['department'].unique()

array(['Executive', 'Store Management', 'Meats', 'Recruitment',
       'Training', 'Labor Relations', 'HR Technology', 'Employee Records',
       'Compensation', 'Legal', 'Produce', 'Accounts Receiveable',
       'Bakery', 'Information Technology', 'Accounts Payable', 'Audit',
       'Accounting', 'Investment', 'Dairy', 'Processed Foods',
       'Customer Service'], dtype=object)

____________
## Assignment
- Take a high level look at the data
- Load the data from `marks_test.csv` file correctly
- Find the Descriptions of the data
- Rename the columns as `Name`, `Subject`, `Maximum Marks`, `Marks Obtained`, `Percentage`

![assignment](data/02.jpeg)