# 05. Filtering the Data
- Find emails of John and Jack.

In [11]:
import pandas as pd

In [4]:
people = {
    'firstName': ['John', 'Johnny', 'Jack'],
    'lastName': ['Doe', 'Doe', 'Danniels'],
    'email': ['john.doe@gmail.com', 'johnny.doe@gmail.com', 'jack.denniels@gmail.com'],
    'phone': ['9956789877', '9876567898', '7898765456']
}

In [12]:
df = pd.DataFrame(people)
df

  firstName  lastName                    email       phone
0      John       Doe       john.doe@gmail.com  9956789877
1    Johnny       Doe     johnny.doe@gmail.com  9876567898
2      Jack  Danniels  jack.denniels@gmail.com  7898765456

In [36]:
filtr = (df['firstName'] == 'John') | (df['firstName'] == 'Jack')
df.loc[filtr, 'email']

0         john.doe@gmail.com
2    jack.denniels@gmail.com
Name: email, dtype: object

In [38]:
type(df.loc[filtr, 'email'])

pandas.core.series.Series

In [39]:
df.loc[filtr]

  firstName  lastName                    email       phone
0      John       Doe       john.doe@gmail.com  9956789877
2      Jack  Danniels  jack.denniels@gmail.com  7898765456

In [40]:
type(df.loc[filtr])

pandas.core.frame.DataFrame