# 04. Description in DataFrame - descriptive statistics
- It provides many functions such as  - mean, median, sum, std etc.
- Methods are available from dataFrame i.e. `pandas.DataFrame.mode`.
- axis=0, means row-wise. axis=1, means column-wise.

| SI. No. | Function | Descriptions |
| :---- | :---- | :---- |
| 1. | [mean](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html) | Finds the mean of Column or row |
| 2. | [median](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.median.html) | Finds the median of Column or row |
| 3. | [mode](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html) | Get the mode(s) of each element along the selected axis |
| 4. | [sum](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html) | Calculate the sum of row or column |
| 5. | [std](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.std.html) | Calculate the standard deviation of each row or column |
| 6. | [min](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.min.html) | Finds the minimum value |
| 7. | [max](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.max.html) | Finds the maximum value |
| 8. | [count](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.count.html) | Counts all non-null value |
| 9. | [unique](https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html) | Returns the unique values |
| 10.| [nunique](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html) | Count number of distinct elements in specified axis. |

#### Import the Pandas and NumPy Libraries

In [1]:
import numpy as np
import pandas as pd

#### Load the data

In [2]:
df = pd.read_csv('./data/Company.csv')
df.head()

,EmployeeID,birthdate_key,age,city_name,department,job_title,gender
0,1318,1/3/1954,61,Vancouver,Executive,CEO,M
1,1319,1/3/1957,58,Vancouver,Executive,VP Stores,F
2,1320,1/2/1955,60,Vancouver,Executive,Legal Counsel,F
3,1321,1/2/1959,56,Vancouver,Executive,VP Human Resources,M
4,1322,1/9/1958,57,Vancouver,Executive,VP Finance,M

In [3]:
df.describe()

        EmployeeID          age
count  6284.000000  6284.000000
mean   5088.843094    45.783418
std    1956.079548    15.076558
min    1318.000000    21.000000
25%    3482.750000    33.000000
50%    5180.500000    45.000000
75%    6765.250000    59.000000
max    8336.000000    74.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6284 entries, 0 to 6283
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EmployeeID     6284 non-null   int64
 1   birthdate_key  6284 non-null   object
 2   age            6284 non-null   int64
 3   city_name      6284 non-null   object
 4   department     6284 non-null   object
 5   job_title      6284 non-null   object
 6   gender         6284 non-null   object
dtypes: int64(2), object(5)
memory usage: 343.8+ KB

In [5]:
# calculate the mean of each numberical columns
print("The mean of numerical columns column is {}".format(df.mean(axis=0).values))

# give a summary of your data on column wise
print(df.describe())

The mean of numerical columns column is [5088.84309357   45.7834182 ]
        EmployeeID          age
count  6284.000000  6284.000000
mean   5088.843094    45.783418
std    1956.079548    15.076558
min    1318.000000    21.000000
25%    3482.750000    33.000000
50%    5180.500000    45.000000
75%    6765.250000    59.000000
max    8336.000000    74.000000

In [6]:
df.sum()

EmployeeID                                                31978290
birthdate_key    1/3/19541/3/19571/2/19551/2/19591/9/19581/9/19...
age                                                         287703
city_name        VancouverVancouverVancouverVancouverVancouverV...
department       ExecutiveExecutiveExecutiveExecutiveExecutiveE...
job_title        CEOVP StoresLegal CounselVP Human ResourcesVP ...
gender           MFFMMMFFFFFFMFMFMMFFFMMFMMMMFFFMFMMFMFMMFFFFMM...
dtype: object

In [7]:
df[['EmployeeID', 'age']].sum()

EmployeeID    31978290
age             287703
dtype: int64

In [8]:
df['age'].mean()

45.78341820496499

In [9]:
df['age'].median()

45.0

In [10]:
df['age'].mode()

0    27
dtype: int64

In [11]:
df['age'].std()

15.076557943488128

In [12]:
df['age'].max()

74

In [13]:
df['age'].min()

21

In [14]:
data = {"a":range(1, 10), "b": range(11,20), "c": range(21,30)}
df_2 = pd.DataFrame(data)
df_2

   a   b   c
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24
4  5  15  25
5  6  16  26
6  7  17  27
7  8  18  28
8  9  19  29

- **Stack** the prescribed level(s) from columns to index.
- Return a reshaped DataFrame or Series having a multi-level index with one or more new inner-most levels compared to the current DataFrame

In [15]:
df_2.stack()#.sum()

0  a     1
   b    11
   c    21
1  a     2
   b    12
   c    22
2  a     3
   b    13
   c    23
3  a     4
   b    14
   c    24
4  a     5
   b    15
   c    25
5  a     6
   b    16
   c    26
6  a     7
   b    17
   c    27
7  a     8
   b    18
   c    28
8  a     9
   b    19
   c    29
dtype: int64

In [16]:
df_3 = df_2.stack()
type(df_3)

#df_4 = df_3.unstack()
#df_4

pandas.core.series.Series

In [17]:
df_2.values

array([[ 1, 11, 21],
       [ 2, 12, 22],
       [ 3, 13, 23],
       [ 4, 14, 24],
       [ 5, 15, 25],
       [ 6, 16, 26],
       [ 7, 17, 27],
       [ 8, 18, 28],
       [ 9, 19, 29]])

In [18]:
df_2.values.sum()

405

_______

## Assignment
- Load the data from `car.csv` file
- Find the total no. of null and not null columns
- Find the unique country and Type values
- Find the mean, median and mode 
- Calculate the total price of all Cars

## Reference: 
1. [Data Cleaning — How to Handle Missing Values with Pandas](https://towardsdatascience.com/data-cleaning-how-to-handle-missing-values-in-pandas-cc8570c446ec)
2. [Working with Missing Data in Pandas - GeeksforGeeks](https://www.geeksforgeeks.org/working-with-missing-data-in-pandas/)
3. [Reshape a pandas DataFrame using stack,unstack and melt method - GeeksforGeeks](https://www.geeksforgeeks.org/reshape-a-pandas-dataframe-using-stackunstack-and-melt-method/)