# 06. Groupby and Aggregate functions
- Grouping and aggregation are frequent operations that you will apply on your data.
- Specifically important in EDA - Exploratory Data Analysis.
- The **`groupby` is not a single operation**. Grouping analysis includes:
    - Splitting the data into Groups
    - Do certain analysis on each group
    - Combining the results.
![ring](data/d-ring.jpeg)

In [1]:
#import the libraries
import pandas as pd
import numpy as np

df = pd.read_csv('./data/diamonds.csv')
df

       carat        cut clarity  price
0       0.23      Ideal     SI2    326
1       0.21    Premium     SI1    326
2       0.23       Good     VS1    327
3       0.29    Premium     VS2    334
4       0.31       Good     SI2    335
...      ...        ...     ...    ...
53935   0.72      Ideal     SI1   2757
53936   0.72       Good     SI1   2757
53937   0.70  Very Good     SI1   2757
53938   0.86    Premium     SI2   2757
53939   0.75      Ideal     SI2   2757

[53940 rows x 4 columns]

In [2]:
df.describe()

              carat         price
count  53940.000000  53940.000000
mean       0.797940   3932.799722
std        0.474011   3989.439738
min        0.200000    326.000000
25%        0.400000    950.000000
50%        0.700000   2401.000000
75%        1.040000   5324.250000
max        5.010000  18823.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   clarity  53940 non-null  object
 3   price    53940 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.6+ MB

## 1. Grouping in a single dimensions
Group data by one column and apply mean function.

In [4]:
df.groupby(['cut']).mean()

              carat        price
cut
Fair       1.046137  4358.757764
Good       0.849185  3928.864452
Ideal      0.702837  3457.541970
Premium    0.891955  4584.257704
Very Good  0.806381  3981.759891

In [5]:
# Do not apply any aggregate functions.
df.groupby(['cut']).describe()

             carat                                                      price  \
             count      mean       std   min   25%   50%   75%   max    count
cut
Fair        1610.0  1.046137  0.516404  0.22  0.70  1.00  1.20  5.01   1610.0
Good        4906.0  0.849185  0.454054  0.23  0.50  0.82  1.01  3.01   4906.0
Ideal      21551.0  0.702837  0.432876  0.20  0.35  0.54  1.01  3.50  21551.0
Premium    13791.0  0.891955  0.515262  0.20  0.41  0.86  1.20  4.01  13791.0
Very Good  12082.0  0.806381  0.459435  0.20  0.41  0.71  1.02  4.00  12082.0


                  mean          std    min      25%     50%      75%      max
cut
Fair       4358.757764  3560.386612  337.0  2050.25  3282.0  5205.50  18574.0
Good       3928.864452  3681.589584  327.0  1145.00  3050.5  5028.00  18788.0
Ideal      3457.541970  3808.401172  326.0   878.00  1810.0  4678.50  18806.0
Premium    4584.257704  4349.204961  326.0  1046.00  3185.0  6296.00  18823.0
Very Good  3981.759891  3935.862161  336.0   912.00  2648.0  5372.75  18818.0

## 2. Grouping in multiple dimensions
You can split the data based on combined columns, just pass a list of column names.

In [6]:
df.groupby(['cut', 'carat']).mean()

                        price
cut       carat
Fair      0.22     337.000000
          0.23     369.000000
          0.25     645.666667
          0.27     371.000000
          0.29    1184.000000
...                       ...
Very Good 2.70   14341.000000
          2.74   17174.000000
          3.00    6512.000000
          3.04   15354.000000
          4.00   15984.000000

[1098 rows x 1 columns]

### NOTE: 
- The `groupby()` function returns a Pandas object, which can be used further to perform the desired aggregate functions. 
- Can apply on Series as well as dataframes.

In [7]:
type(df.groupby(['cut', 'carat']))

pandas.core.groupby.generic.DataFrameGroupBy

_______
## 3. Aggregate functions - `agg()`
- So far you have seen, how to use `groupby` to split and aggregate them into each group.
- Grouping is done using variopus pandas inbuilt functions or custom functions.
- Pandas also provide **`agg()`** interface, which accepts Numpy functions as a partameter to aggregate the groups.
- Most frequently used aggregations are:
    - **sum:** Return the sum of the values for the requested axis
    - **min:** Return the minimum of the values for the requested axis
    - **max:** Return the maximum of the values for the requested axis

In [8]:
cut_grp = df.groupby('cut')
cut_grp

### 3.1. Aggregate single function

In [9]:
df.groupby('cut')['price'].agg(np.mean)

cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

In [12]:
cut_grp['price'].agg([np.mean])

                  mean
cut
Fair       4358.757764
Good       3928.864452
Ideal      3457.541970
Premium    4584.257704
Very Good  3981.759891

### 3.2. Aggregate Multiple functions

In [13]:
df.groupby('cut')['price'].agg([np.mean, np.median, np.std])

                  mean  median          std
cut
Fair       4358.757764  3282.0  3560.386612
Good       3928.864452  3050.5  3681.589584
Ideal      3457.541970  1810.0  3808.401172
Premium    4584.257704  3185.0  4349.204961
Very Good  3981.759891  2648.0  3935.862161

__________
## 4. nth element - GroupBy.nth
- To select the nth element from each Group - use **`nth()`**

In [18]:
df.groupby('cut')['price'].nth(2) #.agg([np.mean])

cut
Fair         2759
Good          339
Ideal         344
Premium       342
Very Good     337
Name: price, dtype: int64

In [ ]:
df.groupby('cut')['price'].nth(2) #.agg([np.mean])