# 06. Groupby and Aggregate functions
- Grouping and aggregation are frequent operations that you will apply on your data.
- Specifically important in EDA - Exploratory Data Analysis.
- The **`groupby` is not a single operation**. Grouping analysis includes:
    - Splitting the data into Groups
    - Do certain analysis on each group
    - Combining the results.
![ring](data/d-ring.jpeg)

In [21]:
#import the libraries
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv('./data/diamonds.csv')
df.head(20)

    carat        cut clarity  price
0    0.23      Ideal     SI2    326
1    0.21    Premium     SI1    326
2    0.23       Good     VS1    327
3    0.29    Premium     VS2    334
4    0.31       Good     SI2    335
5    0.24  Very Good    VVS2    336
6    0.24  Very Good    VVS1    336
7    0.26  Very Good     SI1    337
8    0.22       Fair     VS2    337
9    0.23  Very Good     VS1    338
10   0.30       Good     SI1    339
11   0.23      Ideal     VS1    340
12   0.22    Premium     SI1    342
13   0.31      Ideal     SI2    344
14   0.20    Premium     SI2    345
15   0.32    Premium      I1    345
16   0.30      Ideal     SI2    348
17   0.30       Good     SI1    351
18   0.30       Good     SI1    351
19   0.30  Very Good     SI1    351

In [26]:
df.describe()

              carat         price
count  53940.000000  53940.000000
mean       0.797940   3932.799722
std        0.474011   3989.439738
min        0.200000    326.000000
25%        0.400000    950.000000
50%        0.700000   2401.000000
75%        1.040000   5324.250000
max        5.010000  18823.000000

## 1. Grouping in a single dimensions

In [23]:
df.groupby(['cut']).mean()

              carat        price
cut
Fair       1.046137  4358.757764
Good       0.849185  3928.864452
Ideal      0.702837  3457.541970
Premium    0.891955  4584.257704
Very Good  0.806381  3981.759891

## 2. Grouping in multiple dimensions

In [28]:
df.groupby(['cut', 'carat']).mean()

                        price
cut       carat
Fair      0.22     337.000000
          0.23     369.000000
          0.25     645.666667
          0.27     371.000000
          0.29    1184.000000
...                       ...
Very Good 2.70   14341.000000
          2.74   17174.000000
          3.00    6512.000000
          3.04   15354.000000
          4.00   15984.000000

[1098 rows x 1 columns]